$black: #000000;
$text: #3A1307;;
$back-light: #FFFBF5;
$biege: #ECD1B6;
$brown: #975030;
$brown-dark: #75371B;
$gray: #757574;
$dark: #1C1917;
$light: #FAFAFA;


$font:  "Blacker", serif;
$roboto:  "Roboto", Arial, sans-serif;

$desktop-width: 1920px;
$desktop-min-width: 1440px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 375px;
$mobile-min-width: 320px;
